<!DOCTYPE html>
<html>
<head>
    <% include ./partial/head %>
</head>
<body>
<header>
    <% include ./partial/header %>
</header>
<div class="posts">
    <% include ./partial/top %>
</div>
<div class="create">
    <h3>Create new post</h3>
    <form class="create_form" action="/update/<%= data._id %>" method="post">
        <label>Title</label>
        <input type="text" name="title" value="<%= data.title %>">
        <label>Body</label>
        <textarea name="body"><%= data.body %></textarea>
        <button type="submit">Submit</button>
    </form>
    <a href="/"><button>back</button></a>
</div>
<footer>
    <% include ./partial/footer %>
</footer>
</body>
</html>
